BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpacesInAngles: false
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Preserve
SortUsingDeclarations: true
BinPackParameters: true
BinPackArguments: true
BreakAfterFunctionCallParameter: false
BreakBeforeTernaryOperators: true
SpaceBeforeInheritanceColon: true